* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(24, 24, 24);
  color: white;
  height: 100vh;
}

.content {
  background: rgb(30, 30, 30);
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.intro-text {
  width: 10%;
}
.feedback-panel {
  display: flex;
}

.feedback-panel li {
  list-style: none;
  padding: 5px;
  font-size: 17px;
}

.desktop-app {
  margin: 15%;
  padding: 10px;
  width: 60%;
  background: green;
  outline: none;
  color: aliceblue;
}
.text-holder {
  width: 30%;
  height: 100%;
  padding-top: 20px;
}

.edit-actions {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.actions {
  margin-top: 5px;
  background: none;
  border: none;
  outline: none;
  color: rgba(109, 109, 109, 0.897);
  font-size: 15px;
}

.actions:hover {
  color: beige;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  width: 100%;
  height: 90%;
  resize: none;
  background: rgb(30, 30, 30);
  outline: none;
  border: none;
  font-size: 19px;
  color: beige;
  text-align: justify;
  margin-top: 30px;
  padding: 20px;
}

.info-tab {
  height: 50%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mode-buttons {
  text-align: left;
}

.mode-buttons button {
  font-size: 15px;
  outline: none;
  margin-top: 9%;
  padding: 5px;
  color: aliceblue;
  border: gray solid 2px;
  cursor: pointer;
  background: none;
}

.active-mode-button {
  background: rgba(128, 128, 128, 0.418);
}

.hemingway-app {
  border-bottom: white solid 1.5px;
  padding: 3px;
}

.readability {
  border-bottom: white solid 1.5px;
  padding: 3px;
}

.readability-word p {
  color: azure;
  font-size: 22px;
  font-weight: bold;
}

.grade {
  color: rgb(35, 126, 35);
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
}

.outlook {
  color: azure;
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
}

.basic-info {
  border-bottom: white solid 1.5px;
  padding: 6px;
}

.words {
  font-size: 17px;
  font-weight: 400;
}

.items {
  font-size: 17px;
  font-weight: 400;
}

/*TABLET SIZE*/
@media screen and (max-width: 1024px) {
  .content {
    justify-content: space-evenly;
  }

  .intro-text {
    display: none;
  }

  .text-holder {
    width: 60%;
    padding-top: 10px;
  }
}

/*MOBILE DEVICES*/

@media screen and (max-width: 538px) {
  .content {
    justify-content: space-around;
    height: 60vh;
  }

  .intro-text {
    display: none;
  }
  .text-holder {
    width: 70%;
    height: 100%;
    padding-top: 5px;
  }

  .edit-actions {
    justify-content: space-evenly;
  }

  .actions {
    margin-top: 5px;
    font-size: 10px;
  }

  .actions:hover {
    color: beige;
    font-size: 14px;
  }

  textarea {
    font-size: 13px;
    height: 80%;
    margin-top: 20px;
    padding: 10px;
  }

  .info-tab {
    height: 50%;
    width: 25%;
    padding-right: 5px;
  }

  .mode-buttons {
    text-align: left;
  }

  .mode-buttons button {
    font-size: 10px;
    outline: none;
    margin-top: 5%;
    border: gray solid 1.2px;
  }

  .hemingway-app {
    border-bottom: white solid 1.5px;
    padding: 3px;
  }

  .hemingway-app h1 {
    font-size: 15px;
  }

  .hemingway-app h2 {
    font-size: 13px;
  }

  .readability {
    padding: 3px;
  }

  .readability-word p {
    font-size: 14px;
  }

  .grade {
    font-size: 12px;
    padding: 2px;
  }

  .outlook {
    font-size: 12px;
    padding: 2px;
  }

  .basic-info {
    border-bottom: white solid 1.5px;
    padding: 3px;
  }

  .words {
    font-size: 12px;
  }

  .items {
    font-size: 12px;
  }
}
