* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(17, 17, 17);
  color: white;
  height: 100vh;
}

.content {
  background: rgb(22, 22, 22);
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.intro-text {
  width: 10%;
}
.feedback-panel {
  display: flex;
}

.feedback-panel li {
  list-style: none;
  padding: 5px;
  font-size: 17px;
}

.desktop-app {
  margin: 15%;
  padding: 10px;
  width: 60%;
  background: green;
  outline: none;
  color: aliceblue;
}
.text-holder {
  width: 30%;
  height: 100%;
}

.edit-actions {
  height: 5vh;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.actions {
  margin-top: 5px;
  background: none;
  border: none;
  outline: none;
  color: rgba(143, 143, 143, 0.897);
  font-size: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.actions:hover {
  color: beige;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  width: 100%;
  height: 52vh;
  resize: none;
  outline: none;
  border: none;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
  color: rgb(238, 252, 214);
  text-align: justify;
  margin-top: 30px;
  padding: 20px;
  background: rgb(26, 26, 26);
}

.info-tab {
  margin-top: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
}

.mode-buttons {
  text-align: left;
}

.mode-buttons button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  outline: none;
  padding: 5px;
  color: rgb(180, 220, 255);
  border: gray solid 2px;
  cursor: pointer;
  background: none;
}

.active {
  background: rgb(3, 3, 3) !important;
  color: white !important;
  border: rgb(180, 220, 255) solid 2px !important;
}

.hemingway-app {
  border-bottom: white solid 1.5px;
  padding: 3px;
}

.readability {
  border-bottom: white solid 1.5px;
  padding: 3px;
}

.readability-word p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: rgb(180, 220, 255);
  font-size: 22px;
  font-weight: bold;
}

.grade {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: rgb(35, 126, 35);
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
}

.outlook {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: rgb(180, 220, 255);
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
}

.basic-info {
  border-bottom: white solid 1.5px;
  padding: 6px;
}

.words {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.items {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.submit {
  margin: 2%;
  text-align: center;
}

.submit-btn {
  padding: 10px;
  background: rgb(20, 89, 216);
  border: none;
  color: white;
  font-weight: 200;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}
/*TABLET*/
@media screen and (max-width: 1024px) {
  .content {
    justify-content: space-evenly;
  }

  .intro-text {
    display: none;
  }

  textarea {
    font-size: 13px;
    height: 52vh;
    margin-top: 20px;
    padding: 10px;
  }

  .text-holder {
    width: 60%;
    padding-top: 10px;
  }

  .submit-btn {
    padding: 10px;
    font-size: 17px;
  }
}

/*MOBILE DEVICES*/

@media screen and (max-width: 540px) {
  .content {
    justify-content: space-around;
    height: 60vh;
  }

  .intro-text {
    display: none;
  }
  .text-holder {
    width: 70%;
    height: 100%;
    padding-top: 5px;
  }

  .edit-actions {
    justify-content: space-evenly;
  }

  .actions {
    margin-top: 5px;
    font-size: 10px;
  }

  .actions:hover {
    color: beige;
    font-size: 14px;
  }

  textarea {
    font-size: 13px;
    height: 51vh;
    margin-top: 20px;
    padding: 10px;
  }

  .info-tab {
    height: 50%;
    width: 25%;
    padding-right: 5px;
  }

  .mode-buttons {
    text-align: left;
  }

  .mode-buttons button {
    font-size: 10px;
    outline: none;
    margin-top: 5%;
    border: gray solid 1.2px;
  }

  .hemingway-app {
    border-bottom: white solid 1.5px;
    padding: 3px;
  }

  .hemingway-app h1 {
    font-size: 15px;
  }

  .hemingway-app h2 {
    font-size: 13px;
  }

  .readability {
    padding: 3px;
  }

  .readability-word p {
    font-size: 14px;
  }

  .grade {
    font-size: 12px;
    padding: 2px;
  }

  .outlook {
    font-size: 12px;
    padding: 2px;
  }

  .basic-info {
    border-bottom: white solid 1.5px;
    padding: 3px;
  }

  .words {
    font-size: 12px;
  }

  .items {
    font-size: 12px;
  }

  .submit-btn {
    padding: 7px;
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .text-holder {
    width: 60%;
  }

  .actions {
    font-size: 9.7px;
  }

  .actions:hover {
    font-size: 12px;
  }

  textarea {
    font-size: 12px;
  }

  .hemingway-app {
    border-bottom: white solid 2px;
  }

  .hemingway-app h1 {
    font-size: 14px;
  }

  .readability-word p {
    font-size: 12px;
  }

  .grade {
    font-size: 12px;
  }

  .outlook {
    font-size: 12px;
  }

  .words {
    font-size: 10px;
  }

  .items {
    font-size: 10px;
  }

  .submit-btn {
    padding: 7px;
    font-size: 12px;
  }
}
